# Project 3, Part 4 - Hypothesis Testing

For part 4 of the project, you will be using your MySQL database from part 3 to answer meaningful questions for your stakeholder. They want you to use your hypothesis testing and statistics knowledge to answer 3 questions about what makes a successful movie.

Questions to Answer: 

* The stakeholder's first question is: does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?

    * They want you to perform a statistical test to get a mathematically-supported answer.
     * They want you to report if you found a significant difference between ratings.
    * If so, what was the p-value of your analysis?
    * And which rating earns the most revenue?
* They want you to prepare a visualization that supports your finding.

* A critical first step for this assignment will be to retrieve additional movie data to add to your SQL database.
    * You will want to use the TMDB API again and extract data for additional years.

In [1]:
#Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import json, time, os
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook

import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy.types import *
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy import create_engine

from scipy import stats

# API Data Extraction

In [2]:
with open('/Users/jacobwang/.secret/tmdb_api.json') as f: #change the path to match YOUR path!!
    login = json.load(f)
login.keys()

dict_keys(['client-id', 'api-key'])

In [3]:
tmdb.API_KEY =  login['api-key']

In [4]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['final_tmdb_data_2006.csv.gz',
 'tmdb_api_results_2010.json',
 'tmdb_api_results_2006.json',
 'final_tmdb_data_2008.csv.gz',
 'final_tmdb_data_2004.csv.gz',
 'tmdb_api_results_2007.json',
 'tmdb_api_results_2011.json',
 'tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2012.csv.gz',
 'tmdb_api_results_2001.json',
 'final_tmdb_data_2010.csv.gz',
 'final_tmdb_data_2002.csv.gz',
 'title_basics.csv.gz',
 'tmdb_api_results_2002.json',
 'final_tmdb_data_2007.csv.gz',
 'tmdb_api_results_2003.json',
 'final_tmdb_data_2009.csv.gz',
 'final_tmdb_data_2005.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints',
 'tmdb_api_results_2004.json',
 'tmdb_api_results_2012.json',
 'tmdb_api_results_2008.json',
 'title_akas.csv.gz',
 'tmdb_results_combined.csv.gz',
 'tmdb_api_results_2009.json',
 'final_tmdb_data_2011.csv.gz',
 'final_tmdb_data_2003.csv.gz',
 'tmdb_api_results_2005.json',
 'title_ratings.csv.gz']

# Define functions

In [5]:
# Load in the dataframe from project part 1 as basics:
basics = pd.read_csv('Data/title_basics.csv.gz')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama

In [6]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [7]:
def get_movie_with_rating(movie_id):
    movie = tmdb.Movies(movie_id)
    
    info = movie.info()
    
    releases = movie.releases()
    
    for c in releases['countries']:
            if c['iso_3166_1'] == 'US':
                info['certification'] = c['certification']
    return info

In [12]:
# Define a list of the Years to Extract from the API
YEARS_TO_GET = [*range(2000, 2012, 1)]

In [9]:
# define 'errors' list
errors = [ ]

In [10]:
def movie_year_ratings(YEARS_TO_GET):
# Start of OUTER loop
    for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    #Defining the JSON file to store results for year
        JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    # Check if file exists
        file_exists = os.path.isfile(JSON_FILE)
    # If it does not exist: create it
        if file_exists == False:
# save an empty dict with just "imdb_id" to the new json file.
            with open(JSON_FILE,'w') as f:
                json.dump([{'imdb_id':0}],f)
            #Saving new year as the current df
        df = basics.loc[ basics['startYear']==YEAR].copy()
            # saving movie ids to list
        movie_ids = df['tconst'].copy()
        # Load existing data from json into a dataframe called "previous_df"
        previous_df = pd.read_json(JSON_FILE)
            # filter out any ids that are already in the JSON_FILE
        movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
                #Get index and movie id from list
    # INNER Loop
        for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
            try:
            # Retrieve then data for the movie id
                temp = get_movie_with_rating(movie_id)  
            # Append/extend results to existing file using a pre-made function
                write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
                time.sleep(0.02)
            
            except Exception as e:
                errors.append([movie_id, e])
                
    # save results as csv.gz file
        final_year_df = pd.read_json(JSON_FILE)
        final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)
    print(f"- Total errors: {len(errors)}")

In [14]:
# test function
movie_year_ratings(YEARS_TO_GET)

YEARS:   0%|          | 0/12 [00:00<?, ?it/s]

Movies from 2000:   0%|          | 0/206 [00:00<?, ?it/s]

Movies from 2001:   0%|          | 0/242 [00:00<?, ?it/s]

Movies from 2002:   0%|          | 0/281 [00:00<?, ?it/s]

Movies from 2003:   0%|          | 0/357 [00:00<?, ?it/s]

Movies from 2004:   0%|          | 0/416 [00:00<?, ?it/s]

Movies from 2005:   0%|          | 0/518 [00:00<?, ?it/s]

Movies from 2006:   0%|          | 0/537 [00:00<?, ?it/s]

Movies from 2007:   0%|          | 0/635 [00:00<?, ?it/s]

Movies from 2008:   0%|          | 0/756 [00:00<?, ?it/s]

Movies from 2009:   0%|          | 0/1088 [00:00<?, ?it/s]

Movies from 2010:   0%|          | 0/1159 [00:00<?, ?it/s]

Movies from 2011:   0%|          | 0/1231 [00:00<?, ?it/s]

- Total errors: 8705

# Load additional data

In [16]:
import glob
## Make a filepath query
q = FOLDER+"*.csv.gz"
print(q)

Data/*.csv.gz

In [22]:
# Use glob.glob to get COMPLETE filepaths
q = FOLDER+"final_tmdb*.csv.gz"
print(q)
file_list = sorted(glob.glob(q))
file_list

Data/final_tmdb*.csv.gz

['Data/final_tmdb_data_2000.csv.gz',
 'Data/final_tmdb_data_2001.csv.gz',
 'Data/final_tmdb_data_2002.csv.gz',
 'Data/final_tmdb_data_2003.csv.gz',
 'Data/final_tmdb_data_2004.csv.gz',
 'Data/final_tmdb_data_2005.csv.gz',
 'Data/final_tmdb_data_2006.csv.gz',
 'Data/final_tmdb_data_2007.csv.gz',
 'Data/final_tmdb_data_2008.csv.gz',
 'Data/final_tmdb_data_2009.csv.gz',
 'Data/final_tmdb_data_2010.csv.gz',
 'Data/final_tmdb_data_2011.csv.gz',
 'Data/final_tmdb_data_2012.csv.gz']

In [24]:
## use a list comprehension to load in all files into 1 dataframe
df = pd.concat([pd.read_csv(f,lineterminator='\n') for f in file_list])
df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.1,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.0,1.0,NaN
4,tt0116748,0.0,/wr0hTHwkYIRC82MwNbhOvqrw27N.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,579396.0,hi,Karobaar,...,0.0,180.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,The Business of Love,Karobaar,0.0,5.5,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3241,tt7867026,0.0,/4H3gxcDyFbyD3syAHcfGfu42zJ4.jpg,"{'id': 610471, 'name': 'Bloodbath at Pinky Hig...",0.0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,259678.0,ja,女子高生暴力教室,...,0.0,70.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Bloodbath at Pinky High Part 1,0.0,4.5,4.0,NaN
3242,tt8653880,0.0,NaN,NaN,278.0,"[{'id': 27, 'name': 'Horror'}]",NaN,748194.0,ru,Splatter,...,0.0,53.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,NaN,Splatter,0.0,0.0,0.0,NaN
3243,tt8675644,0.0,/bkPwmPPVxSaT4lUztUOccHgWFi2.jpg,NaN,0.0,"[{'id': 10749, 'name': 'Romance'}]",NaN,355037.0,ko,전망 좋은 해변 - 두 여자,...,0.0,70.0,"[{'english_name': 'Korean', 'iso_639_1': 'ko',...",Released,NaN,A Beach With A View - Two Women,0.0,0.0,0.0,NaN
3244,tt8698020,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,155776.0,en,Heroes and Demons,...,0.0,93.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"Our last hope, our greatest threat.",Heroes and Demons,0.0,7.2,12.0,NaN
3245,tt9844062,0.0,NaN,NaN,90510.0,"[{'id': 10402, 'name': 'Music'}, {'id': 36, 'n...",https://orlov-musical.ru/en/,748903.0,ru,Граф Орлов: мюзикл,...,0.0,123.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,«From the creators of Russia’s best-selling mu...,Count Orlov: musical,0.0,0.0,0.0,PG-13

In [25]:
# remove ids that are 0
df = df.loc[ df['imdb_id']!='0']
df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0116748,0.0,/wr0hTHwkYIRC82MwNbhOvqrw27N.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,579396.0,hi,Karobaar,...,0.0,180.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,The Business of Love,Karobaar,0.0,5.500,2.0,NaN
5,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.108,2060.0,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3241,tt7867026,0.0,/4H3gxcDyFbyD3syAHcfGfu42zJ4.jpg,"{'id': 610471, 'name': 'Bloodbath at Pinky Hig...",0.0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,259678.0,ja,女子高生暴力教室,...,0.0,70.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Bloodbath at Pinky High Part 1,0.0,4.500,4.0,NaN
3242,tt8653880,0.0,NaN,NaN,278.0,"[{'id': 27, 'name': 'Horror'}]",NaN,748194.0,ru,Splatter,...,0.0,53.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,NaN,Splatter,0.0,0.000,0.0,NaN
3243,tt8675644,0.0,/bkPwmPPVxSaT4lUztUOccHgWFi2.jpg,NaN,0.0,"[{'id': 10749, 'name': 'Romance'}]",NaN,355037.0,ko,전망 좋은 해변 - 두 여자,...,0.0,70.0,"[{'english_name': 'Korean', 'iso_639_1': 'ko',...",Released,NaN,A Beach With A View - Two Women,0.0,0.000,0.0,NaN
3244,tt8698020,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,155776.0,en,Heroes and Demons,...,0.0,93.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"Our last hope, our greatest threat.",Heroes and Demons,0.0,7.200,12.0,NaN
3245,tt9844062,0.0,NaN,NaN,90510.0,"[{'id': 10402, 'name': 'Music'}, {'id': 36, 'n...",https://orlov-musical.ru/en/,748903.0,ru,Граф Орлов: мюзикл,...,0.0,123.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,«From the creators of Russia’s best-selling mu...,Count Orlov: musical,0.0,0.000,0.0,PG-13

In [26]:
df = df.reset_index(drop=True)
df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
1,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
2,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
3,tt0116748,0.0,/wr0hTHwkYIRC82MwNbhOvqrw27N.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,579396.0,hi,Karobaar,...,0.0,180.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,The Business of Love,Karobaar,0.0,5.500,2.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.108,2060.0,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27083,tt7867026,0.0,/4H3gxcDyFbyD3syAHcfGfu42zJ4.jpg,"{'id': 610471, 'name': 'Bloodbath at Pinky Hig...",0.0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,259678.0,ja,女子高生暴力教室,...,0.0,70.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Bloodbath at Pinky High Part 1,0.0,4.500,4.0,NaN
27084,tt8653880,0.0,NaN,NaN,278.0,"[{'id': 27, 'name': 'Horror'}]",NaN,748194.0,ru,Splatter,...,0.0,53.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,NaN,Splatter,0.0,0.000,0.0,NaN
27085,tt8675644,0.0,/bkPwmPPVxSaT4lUztUOccHgWFi2.jpg,NaN,0.0,"[{'id': 10749, 'name': 'Romance'}]",NaN,355037.0,ko,전망 좋은 해변 - 두 여자,...,0.0,70.0,"[{'english_name': 'Korean', 'iso_639_1': 'ko',...",Released,NaN,A Beach With A View - Two Women,0.0,0.000,0.0,NaN
27086,tt8698020,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,155776.0,en,Heroes and Demons,...,0.0,93.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"Our last hope, our greatest threat.",Heroes and Demons,0.0,7.200,12.0,NaN
27087,tt9844062,0.0,NaN,NaN,90510.0,"[{'id': 10402, 'name': 'Music'}, {'id': 36, 'n...",https://orlov-musical.ru/en/,748903.0,ru,Граф Орлов: мюзикл,...,0.0,123.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,«From the creators of Russia’s best-selling mu...,Count Orlov: musical,0.0,0.000,0.0,PG-13

In [27]:
## saving the combined csv to disk
df.to_csv(FOLDER+'combined_tmdb_data.csv.gz',compression='gzip',index=False)

df = pd.read_csv(FOLDER+'combined_tmdb_data.csv.gz',lineterminator='\n')
df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
1,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
2,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
3,tt0116748,0.0,/wr0hTHwkYIRC82MwNbhOvqrw27N.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,579396.0,hi,Karobaar,...,0.0,180.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,The Business of Love,Karobaar,0.0,5.500,2.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.108,2060.0,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27083,tt7867026,0.0,/4H3gxcDyFbyD3syAHcfGfu42zJ4.jpg,"{'id': 610471, 'name': 'Bloodbath at Pinky Hig...",0.0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,259678.0,ja,女子高生暴力教室,...,0.0,70.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Bloodbath at Pinky High Part 1,0.0,4.500,4.0,NaN
27084,tt8653880,0.0,NaN,NaN,278.0,"[{'id': 27, 'name': 'Horror'}]",NaN,748194.0,ru,Splatter,...,0.0,53.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,NaN,Splatter,0.0,0.000,0.0,NaN
27085,tt8675644,0.0,/bkPwmPPVxSaT4lUztUOccHgWFi2.jpg,NaN,0.0,"[{'id': 10749, 'name': 'Romance'}]",NaN,355037.0,ko,전망 좋은 해변 - 두 여자,...,0.0,70.0,"[{'english_name': 'Korean', 'iso_639_1': 'ko',...",Released,NaN,A Beach With A View - Two Women,0.0,0.000,0.0,NaN
27086,tt8698020,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,155776.0,en,Heroes and Demons,...,0.0,93.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"Our last hope, our greatest threat.",Heroes and Demons,0.0,7.200,12.0,NaN
27087,tt9844062,0.0,NaN,NaN,90510.0,"[{'id': 10402, 'name': 'Music'}, {'id': 36, 'n...",https://orlov-musical.ru/en/,748903.0,ru,Граф Орлов: мюзикл,...,0.0,123.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,«From the creators of Russia’s best-selling mu...,Count Orlov: musical,0.0,0.000,0.0,PG-13

In [31]:
## Columns to include
df = df[['imdb_id', 'budget', 'revenue', 'certification']]
df.head()

     imdb_id      budget     revenue certification
0  tt0113026  10000000.0         0.0           NaN
1  tt0113092         0.0         0.0           NaN
2  tt0116391         0.0         0.0           NaN
3  tt0116748         0.0         0.0           NaN
4  tt0118694    150000.0  12854953.0            PG

# Questions to answer: 
* The stakeholder's first question is: does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?
    * They want you to perform a statistical test to get a mathematically-supported answer.
    * They want you to report if you found a significant difference between ratings.
        * If so, what was the p-value of your analysis?
        * And which rating earns the most revenue?
    * They want you to prepare a visualization that supports your finding.